@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400&display=swap');

.log-container {
    width: 100%; /* Set the container to full width */
    overflow-x: auto; /* Enables horizontal scrolling if needed */
    overflow-y: visible; /* Keep vertical overflow visible */
    font-family: 'Roboto Mono', monospace;
}

.log-container table {
    width: 100%;
    border-collapse: collapse;
}

.log-container th, .log-container td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: left;
}

.log-container th {
    background-color: #007BFF;
    color: white;
    text-align: right;
    position: sticky;
    top: 0;
    z-index: 10;
    border-bottom: 1px solid #ccc; /* Ensure a solid bottom border */
}

/* Column width adjustments */
.log-container th:nth-child(1), .log-container td:nth-child(1) { width: 10%; }
.log-container th:nth-child(2), .log-container td:nth-child(2) { width: 10%; }
.log-container th:nth-child(3), .log-container td:nth-child(3) { width: 15%; }
.log-container th:nth-child(4), .log-container td:nth-child(4) { width: 15%; }
.log-container th:nth-child(5), .log-container td:nth-child(5) { width: 15%; }
.log-container th:nth-child(6), .log-container td:nth-child(6) { width: 15%; }
.log-container th:nth-child(7), .log-container td:nth-child(7) { width: 10%; }
.log-container th:nth-child(8), .log-container td:nth-child(8) { width: 5%; }
.log-container th:nth-child(9), .log-container td:nth-child(9) { width: 5%; }