.react-tabs {
    font-family: San "San Francisco", sans-serif;
    border: none;
}

.react-tabs__tab-list {
    border-bottom: 0px solid #001d64;
    padding: 0;
}

.react-tabs__tab {
    border: none;
    border-bottom: none;
    list-style-type: none;
    cursor: pointer;
}

.react-tabs__tab--selected {
    background: #006abc;
    border-color: #001d64;
    color: #ffffff;
    font-weight: bold;
    border-radius: 0;
}

.react-tabs__tab-panel {
    background: #002473;
    border: none
}

.react-tabs__tab:hover {
    background-color: #006abc; /* Light grey background on hover */
    color: #ffffff; /* Darker text color on hover */
    font-weight: bold;
    cursor: pointer; /* Changes the mouse cursor to indicate the item is clickable */
}